html, body {
    margin: 0;
    overflow: hidden;
}
:root {
    --widget-background-color: #313336bb;
    --widget-border-color: #222222;
}
#viewerDiv {
    height: 100vh;
}

/******************************** Fold button *********************************/

#folder {
    background-color: var(--widget-background-color);
    border: 1px solid var(--widget-border-color);
    border-radius: 7px;
    box-sizing: border-box;
    color: inherit;
    cursor: pointer;
    font-size: 15px;
    font-weight: 900;
    height: 30px;
    padding: 0;
    position: absolute;
    right: -40px;
    width: 30px;
}
#folder:active {
    background-color: var(--widget-border-color);
}
#folder > span {
    background-color: white;
    border-radius: 4px;
    display: block;
    height: 4px;
    left: 12.5%;
    position: absolute;
    transition: .5s ease-in-out;
    transform: rotate(0deg);
    width: 75%;
}
#folder > span:first-child {
    top: calc((100% - 4px) / 2);
    transform: rotate(45deg);
}
#folder > span:last-child {
    bottom: calc((100% - 4px) / 2);
    transform: rotate(-45deg);
}
.layer-options-widget.folded {
    left: -250px;
    transition: left .5s;
}
.layer-options-widget.folded > #folder > span {
    transform: rotate(0deg);
    transition: .5s ease-in-out;
}
.layer-options-widget.folded > #folder > span:first-child {
    top: calc((100% - 75% + 4px) / 2);
}
.layer-options-widget.folded > #folder > span:last-child {
    bottom: calc((100% - 75% + 4px) / 2);
}

